* {
	margin: auto;
}

#menu {
	padding: 15px;
	width: 1318px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14pt;
}

#menu ul {
	list-style: none;
	padding: 0;
}

#menu ul li {
	display: inline;
	margin: 0 20px 0 0;
}

#menu ul li a {
	text-decoration: none;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14pt;
	color: white;
}

#menu ul li a:hover {
	color: #196A84;
}

.sticky {
	position: fixed;
	background-color: black;
}

.kiri {
	float: left;
}

.tengah {
	float: left;
	padding-left: 20px;
	padding-top: 30px;
}

.kanan {
	float: right;
	padding-top: 30px;
	padding-right: 60px;
}

.kanan a {
	color: white;
	text-decoration: none;
	padding: 15px;
	width: 95%;
	border: 0;
	background: #196A84;
	border-radius: 5px;
}

.kanan a:hover {
	background: white;
	color: #196A84;
	border-width: 5px;
	font-weight: bold;
}

.clear {
	clear: both;
}

body {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14pt;
}

section {
	padding: 60px;
}

.hitam {
	background-color: black;
	background-image: url('../img/bg-1.jpg');
	background-position: center;
}

.putih {
	background-color: white;
	background-position: center;
}

.abu {
	background-color: gray;
}

#intro {
	height: 500px;
	padding-top: 150px;
}

#intro h1 span {
	color: #196A84;
}

#intro h1 {
	float: left;
	display: inline;
	color: white;
	padding-top: 50px;
	text-align: center;
	font-size: 25pt;
	font-weight: normal;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	clear: both;
}

#intro h1 b {
	font-size: 33pt;
}

#user_daftar {
	padding: 1em;
	margin: auto;
	width: 20em;
	background: #fff;
	border-radius: 3px;
	text-align: center;
	float: right;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#user_daftar h2 {
	font-weight: normal;
	font-size: 20pt;
}

input[type="text"],input[type="float"],input[type="date"],input[type="password"], textarea {
	padding: 8px;
	width: 95%;
	background: #efefef;
	border: 0;
	font-size: 12pt;
	margin: 6px 0px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 11pt; 
}

#btn-masuk {
	background: #3498db;
	color: #fff;
	border: 0;
	padding: 10px;
	margin: 20px 0px;
	border-radius: 3px;
	width: 95%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12pt; 
}

#btn-ragu {
	background: #990000;
	color: #fff;
	border: 0;
	padding: 10px;
	padding-left: 150px;
	padding-right: 150px;
	border-radius: 3px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12pt;
	text-decoration: none; 
}

#btn-masuk:hover {
	background: #003d6a;
	text-decoration: underline;
}

#btn-ragu:hover {
	background: #830e3c;
	text-decoration: underline;
}

#about_us {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
}

#about_us h1{
	font-size: 25pt;		
	font-weight: bold;
}

#about_us p {
	font-size: 16pt;
	font-weight: normal;
}

#about_us span {
	color: #196A84;
}

#about_us span:hover {
	font-size: 20pt;
	color: #990000;
}

#services {
	text-align: center;
	color: white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#services h1 {
	font-size: 25pt;
	font-weight: bold;
}

#services h2 {
	font-weight: normal;
	font-size: 18pt;
}

#services p {
	font-weight: normal;
	font-size: 13pt;
}

#gb-serv1 {
	float: left;
	padding-left: 70px;
}

#gb-serv2 {
	float: left;
	padding-left: 110px;
}

.gb-serv {
	display: inline;
}

#contact {
	color: black;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-top: 20px;
	padding-bottom: 200px;
	padding-left: 180px;
}

#contact h2 {
	font-weight: normal;
	font-size: 14pt;
	text-align: center;
}

#contact p {
	font-size: 12pt;
}

#garis1 img {
	padding-right: 5px;
}

#gb-dev1 #dev{
	float: left;
}

.gb-dev #gb-dev1 #dev {
	opacity: 0.5;
	padding-right: 50px;
}

#garis1 {
	float: left;
	padding-left: 20px
}

#garis1 a {
	color: black;
	text-decoration: none;
	font-size: 13pt;
}

#garis1 a:hover {
	color: #196A84;
	text-decoration: underline; 
}

#garis2 {
	float: left;
	padding-left: 90px; 
}

#garis2 a {
	color: black;
	text-decoration: none;
	font-size: 13pt;
}

#garis2 a:hover {
	color: #196A84;
	text-decoration: underline;
}

#garis3 {
	float: left;
	padding-left: 90px;
}

#garis3 a {
	color: black;
	text-decoration: none;
	font-size: 13pt;
}

#garis3 a:hover {
	color: #196A84;
	text-decoration: underline;
}

#copyright {
	color: white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;
}

#copyright p {
	font-size: 10pt;
}

/*---------admin_login.html------*/

.login_admin {
	padding: 1em;
	margin: auto;
	width: 20em;
	background: #fff;
	border-radius: 3px;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.login_admin h2 {
	font-size: 25pt;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: normal;
}

#btn-kembali {
	background: #990000;
	color: #fff;
	border: 0;
	padding: 10px;
	padding-left: 145px;
	padding-right: 145px;
	border-radius: 3px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12pt;
	text-decoration: none; 
}

#btn-kembali:hover {
	background: #830e3c;
	text-decoration: underline;
}

.hitam-login {
	background-color: black;
	background-image: url('../img/bg-1.jpg');
	background-position: center;
}

#intro-login {
	height: 424px;
	padding-top: 150px;
}

/*--------------Menu Admin------------------*/

.hitam-menu {
	background-color: black;
	background-image: url('../img/bg-1.jpg');
	background-position: center;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

#intro-menu {
	height: 900px;
	padding-top: 10px;
}

.hitam-menu a {
	background-color: #3498db;
	padding: 1em;
	color: white;
	border-radius: 3px;
	text-decoration: none;
}

.hitam-menu a:hover {
	background-color: #990000;
	text-decoration: underline;
}

#intro-menu h1 {
	color: white;
}

.hitam-menu .tbl a {
	background-color: transparent;
}

#intro-menu span {
	color: #3498db;
}

.tbl {
	border-color: white;
	text-align: left;
	color: white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.tbl h2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 28pt;
}

.tbl a {
	color: black;
}

.tengah p {
	color: white;
}

#tbb{
	color: black;
}

/*---------------------------menu edit -----------------------*/
 .edit #user_edit {
 	padding: 1em;
	margin: auto;
	width: 20em;
	background: #fff;
	border-radius: 3px;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 	color: black;
 }

 .grafik {
 	padding: 2px;
	margin: auto;
	width: 25em;
	background: #fff;
	border-radius: 1em;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 }

 .hasil_akhir {
 	padding: 1em;
	margin: auto;
	width: 25em;
	background: #fff;
	border-radius: 1px;
	text-align: left;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 }

 .hasil_akhir a {
 	text-align: center;
 	background-color: #3498db;
	padding: 10px;
	color: white;
	border-radius: 3px;
	text-decoration: none;
 }

  .hasil_akhir a:hover {
	background-color: #990000;
	text-decoration: none;
 }
